body
{
	background-color: lightgreen;
}
.header
{
    display: flex;
	background-color:lightgreen;
}
div{
	margin-top: 5px;
	margin-bottom: 5px;
}

p{
	margin-bottom: 0;
	padding-bottom: 0;
}
textarea{
	margin-top: 0;
}

#ans
{
	background-color: black;
	color: white;
}


button
{
	padding: 1em;
	font-size: large;
}